@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

h1, h2, h3, h4, h5, h6{
    color: white;
    font-family: 'Satisfy', cursive;
}

hr{
    color:white;
}

.row hr{
    color:black;
}

/* Fondo */

body{
    background-image: url("https://i.postimg.cc/vmqn9cvF/anime-scenery-sunset-uhdpaper.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.fondo-oscuro{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(24, 24, 24, 0.8);
    z-index: -1;
}

/* scrollbar */


*::-webkit-scrollbar{
    width: 5px;    
}

*::-webkit-scrollbar-thumb, *::-webkit-scrollbar-thumb:hover{
    background-color: rgba(38, 38, 38, 0.8);
}

*::-webkit-scrollbar-track{
    background-color: rgba(24, 24, 24, 0.8);
}

/* Titulo */

.titulo-presentacion{
    font-size: 72px;
}

.subtitulo-presentacion{
    font-size: 42px;
}

/* Clases */

.background{
    background-color: white;
    color: black;
}

.background h1, .background h2, .background h3, .background h4, .background h5, .background h6{
    color: black;
}

.lnh-70{
    line-height: 70vh;
}

.vh-40{
    height: 40vh;
}

.vh-50{
    height: 50vh;
}

.h-pdf{
    height: 100vh;
}